@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("opensans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("opensansbold.woff") format("woff");
}

body {
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #232527;
  background-color: #ffffff;
  min-width: 1220px;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
  background-color: #fefefe;
  -webkit-box-shadow: 0 3px 7px 0px rgba(0, 0, 0, .35);
          box-shadow: 0 3px 7px 0px rgba(0, 0, 0, .35);
}

.main_header {
 background: #232527;
 color: #ECECEC;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.my_skills {
  background: #ffffff;
  display: flex;
  align-items: center;
  margin-top: 31px;
  margin-bottom: 29px;
}

.projects {
 background: #232527;
 color: #ECECEC;
 padding-top: 20px;
 padding-left: 50px;
 padding-bottom: 100px;
}

.my_name {
  font-size: 32px;
  line-height: 44px;
  font-weight: normal;
  margin-bottom: 5px;
}

.my_specialty {
  font-size: 22px;
  line-height: 30px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
}

.about_me,
.my_diplomas,
.my_projects {
  font-size: 16px;
  line-height: 22px;
}

.my_projects {
  color: #ECECEC;
}

.about_skills {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  padding-left: 0;
}

.my_photo {
  margin-top: 51px;
  margin-bottom: 20px;
}

.social {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 35px;
  list-style: none;
  padding: 0;
}

.skills {
  margin-left: 50px;
}

.diplomas {
  margin-left: 90px;
}

.diplomas-mobile {
  display: none;
}

.github_img {
  color: #ffffff;
}

.github_link {
  color: #ECECEC; 
  display: flex;
  align-items: center;
  padding-bottom: 66px;
}

.github_text {
  padding-right: 8px;
  border-bottom: 2px solid #ECECEC;
}

.social-mail {
  background: #E6B300;
  border-radius: 50%;
}

.social-telegtam {
  background: #59AAE7;
  border-radius: 50%;
}

.social-whatsup {
  background: #75B73B;
  border-radius: 50%;
}

.telegram,
.whatsup {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.social_item {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

.certificate-1,
.certificate-2,
.certificate-3 {
  margin-right: 15px;
}

.main_certificate-1,
.main_certificate-2,
.main_certificate-3 {
  display: flex;
  background: #232527;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100vh;
}

.index_btn {
  margin-left: 20px;
}

.sedona,
.pink {
  margin-bottom: 66px;
}

.projects_btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progect_name {
  color: #ECECEC;
  text-transform: uppercase;
  text-align: center;
}

.my_mail {
  margin-bottom: 1px;
}

.my_telegram {
  margin-right: 2px;
  margin-top: 5px;
}

.my_whatsup {
  margin-top: 5px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}

.project-description {
  width: 550px;
  margin-bottom: 40px;
  margin-top: 0;
}

#top {
  width: 100%;
  background: transparent;
  height: 840px;
}
.slider {
  position: relative;
}

.slider_items {
  position: relative;
  width:100%;
  overflow: hidden;
  max-height: 800px;
  border: 1px solid #ffffff;
}

.slider_item {
  position: relative;
  display: none;
  width: 100%;
  transition: transform 0.6s ease;
  backface-visibility: hidden;
  overflow: hidden;
}

.slider_item_active,
.slider_item_next,
.slider_item_prev {
  display: block;
}
.slider_item_next,
.slider_item_prev {
  position: absolute;
  top: 0;
}

.slider_item_next.slider_item_left,
.slider_item_prev.slider_item_right {
  transform: translateX(0);
}

.slider_item_next,
.slider_item_right.slider_item_active {
  transform: translateX(100%);
}

.slider_item_prev,
.slider_item_left.slider_item_active {
  transform: translateX(-100%);
}
.slider_items img {
  display: inline-block;
  height: auto;width:100%;
  vertical-align: bottom;
}


@media (max-width: 1000px) {
  .wrep {
      width: 1000px;
  }

  .my_name {
    font-size: 42px;
  }

  .my_specialty {
    font-size: 28px;
  }

  .social_item {
    width: 38px;
    height: 38px;
}

  .my_mail {
    width: 23px;
    height: 20px;
    margin-top: 9px;
  }

  .my_telegram {
    margin-top: 7px;
    width: 25px;
    height: 25px;
  }

  .my_whatsup {
    margin-top: 7px;
    width: 24px;
    height: 24px;
  }

  .my_skills {
    flex-direction: column;
  }

  .about_me, .my_diplomas, .my_projects {
    font-size: 30px;
    text-align: center;
  }

  .about_skills {
    font-size: 24px;
    line-height: 27px;
    padding-bottom: 40px;
  }

  .about_skills-item {
    margin-bottom: 14px;
  }

  .diplomas {
    display: none;
  }

  .diplomas-mobile {
    display: flex;
    flex-direction: column;
    padding-bottom: 26px;
  }

  .certificate {
    width: 410px;
    height: 478px;
    margin-bottom: 14px;
  }

  .certificate-horizontally {
    width: 454px;
    height: 400px;
    margin-bottom: 14px;
  }

  .github {
    font-size: 26px;
  }
}
